[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=noskov
WorkingDirectory=/home/noskov/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
