{
"project_id": "infra-09878965857",
"source_image_family": "ubuntu-1604-lts",
"image_description": "variables check in HW5",
"tags": "puma-server",
"machine_type": "f1-micro",
"image_description": "image for test app deployment",
"disk_size": "10",
"disk_type": "pd-standard",
"network": "default"
}

